{% extends 'base.html' %}
{% block title %}Minhoteca{% endblock %}
{% load static %}

{% block content %}
<div class="container" id="front">
    <div class="row justify-content-md-center">
        <div class="col col-sm-12">
            <section id="landing">
                <h1 class="shadow bg-body p-3 mb-2">
                    Projeto A3 - Engenharias - USJT
                </h1>
                <div class="">
                    <h2 class="my-3">Resistência dos Materiais</h2>
                    <p>
                        Este site tem como objetivo mostrar os resultados de um cálculo de vigas, utilizando o método direto da rigidez. 
                        Através desses resultados será fornecido os valores máximos, mínimos e nulos da força cortante e do momento fletor do 
                        sistema. Contudo, mostraremos também a sua representação em forma de diagrama.
                    </p>
                </div>
                <h2 class="shadow bg-body  p-3 my-3">Equipe</h2>
                <div class="my-2">
                    <ul>
                        <li>Aquiles Colares de Oliveira - RA: 820144933</li>
                        <li>Gustavo Adolfo Alencar dos Santos - RA: 820271356</li>
                        <li>Rogério dos Santos Cruz - RA: 822166361</li>
                    </ul>
                </div>

            </section>
        </div>
    </div>
</div>
{% endblock %}